version: '3.9'
services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.node
    ports:
      - '5000:5000'
  ai-engine:
    build:
      context: ..
      dockerfile: docker/Dockerfile.python
